.footer {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: #777;
  padding: 10px 15px;
}
.footerBtn {
  color: #777;
  padding: 0 5px;
  border: 1px solid transparent;
  margin-left: 10px;
  text-decoration: none;
}
.selected {
  border-radius: 2px;
  border-color: rgba(175, 47, 47, 0.2);
}
